.section-search {
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 576px) {
  .section-search {
    display: block;
  }
  .anime-search {
    max-width: 100% !important;
  }
}
.anime-search {
  width: 25em !important;
}
.anime-search span span {
  background-color: transparent !important;
  border-radius: 10em;
  border-color: #d84a1b !important;
  color: #fff;
}
.anime-search span span input {
  background-color: transparent !important;
  color: #fff;
}
.anime-search span span input:hover {
  border-color: #d84a1b !important;
}
.anime-search span span input:focus {
  border-color: #d84a1b !important;
}
.anime-search span span button {
  background-color: #d84a1b;
  border: none !important;
  border-top-right-radius: 5em !important;
}
.anime-search span span button:hover {
  background-color: #d84a1b;
}
.anime-search span span.ant-input-group-addon {
  background-color: #030303 !important;
}

.anime-search span span span.ant-input-suffix span.anticon-close-circle svg {
  color: #d84a1b !important;
  font-size: 1.2em !important;
}
