.box-carousel h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 1em;
}

.carousel-anime {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
.image-carousel {
  width: 100%;
  height: 40vh;
}

/*XS*/
@media (width < 576px) {
  .carousel-anime {
    margin-left: 0;
    margin-right: 0;
  }
}

/*SM*/
@media (width >= 576px) {
  .carousel-anime {
    margin-left: 0;
    margin-right: 0;
  }
}
/*MD*/
@media (width >= 768px) {
  .carousel-anime {
    margin-left: 4em;
    margin-right: 4em;
  }
}
/*LG*/
@media (width >= 992px) {
  .carousel-anime {
    margin-left: 4em;
    margin-right: 4em;
  }
}
/*XL*/
@media (width >= 1200px) {
  .carousel-anime {
    margin-left: 6em;
    margin-right: 6em;
  }
  .image-carousel {
    width: 100%;
    height: 45vh;
  }
}
/*XXL*/
@media (width >= 1600px) {
  .carousel-anime {
    margin-left: 20em;
    margin-right: 20em;
  }
  .image-carousel {
    width: 100%;
    height: 45vh;
  }
}

.content-style {
  height: 150px;
  color: #fff;
  line-height: 160px;
  text-align: center;
  text-transform: uppercase;
}

.slick-dots li {
  display: flex !important;
  align-items: center !important;
  padding-right: 0.3em !important;
}
.slick-dots li button {
  border-radius: 50% !important;
  border: 10px solid #d84a1b !important;
}
.slick-dots li.slick-active button {
  border: 12px solid #d84a1b !important;
}
