.layout {
  background: #030303 !important;
}
.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  display: grid;
  place-items: center;
}
.site-layout-background {
  background: #030303 !important;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 2em;
}
.site-layout-background h1 {
  color: #d84a1b;
  font-size: 4em;
  letter-spacing: 0.4em;
  line-height: 1em;
}
@media (max-width: 768px) {
  .site-layout-background h1 {
    font-size: 2em;
    line-height: normal;
  }
  .site-layout-background {
    margin-bottom: 0;
    margin-top: 1em;
  }
}
.breadcrump h2 {
  font-size: 1.6rem;
  color: #fff;
  padding-left: 24px;
}
.breadcrump p {
  font-size: 1rem;
  color: #fff6;
  padding-left: 3em;
}
@media (max-width: 768px) {
  .breadcrump p {
    padding-left: 24px;
  }
}

.site-layout-content {
  min-height: 90vh;
  padding: 24px;
  background: #030303;
}
.site-layout-content-mobile {
  padding: 6px;
}

.section-title {
  width: 100%;
  border-bottom: 2px solid #d84a1b !important;
  margin-bottom: 2em;
}

.section-title h3 {
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
}
.section-title a {
  color: #d84a1b !important;
  text-transform: uppercase;
  font-weight: 1000;
  float: right;
}

.ant-empty-description {
  color: #fff;
}
.ant-empty-img-simple {
  filter: invert(0.1);
}

/**********PAGINATION**************/
.ant-pagination {
  display: flex;
  justify-content: center;
}
.pagination-home .ant-pagination-prev button,
.pagination-home .ant-pagination-next button {
  background: none !important;
  border: none !important;
}
.pagination-home .ant-pagination-prev button span,
.pagination-home .ant-pagination-next button span {
  color: #fff !important;
  font-size: 2rem;
  border: none !important;
}
.ant-pagination-options {
  display: none !important;
}
.ant-pagination-next {
  border: none !important;
}
.pagination-home .ant-pagination-next:active {
  background-color: #030303 !important;
}

.pagination-home li:first-child,
.pagination-home li:last-child {
  border: none !important;
}
.pagination-home li:first-child:active,
.pagination-home li:last-child:active {
  background-color: #030303 !important;
}

.pagination-home li:nth-child(n) {
  border-radius: 50% !important;
  border: 1px solid #d84a1b;
  background-color: #030303;
}
.pagination-home li:active {
  background-color: #d84a1b !important;
}

.pagination-home li a {
  color: #fff !important;
}
.ant-pagination-item-active {
  background-color: #d84a1b !important;
}
.ant-pagination-item-ellipsis,
.anticon-double-right,
.anticon-double-left {
  color: #fff !important;
}
